<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Carlos Luddwing Muñoz Web Page Presentation</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
        

        {% block title %}
        {% endblock %}

    </head>

    <body>
    
        {% block toggle %}
        {% endblock %}

        {% block header %}
        {% endblock %}

        {% block main %}
        
            {% block about %}
            {% endblock %}

            {% block skills %}
            {% endblock %}

            {% block cv %}
            {% endblock %}

            {% block portfolio %}
            {% endblock %}

            {% block contact %}
            {% endblock %}

        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block top %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </body>
</html>